[submodule "web-extensions"]
	path = web-app-submodules/web-extensions
	url = https://github.com/opencloud-eu/web-extensions.git
[submodule "web-app-submodules/web-app-comments"]
	path = web-app-submodules/web-app-comments
	url = git@github.com:protronic/web-app-comments.git
[submodule "web-app-submodules/opencloud-3dviewer"]
	path = web-app-submodules/opencloud-3dviewer
	url = git@github.com:protronic/opencloud-3dviewer.git
[submodule "web-app-submodules/opencloud-web-calendar"]
	path = web-app-submodules/opencloud-web-calendar
	url = https://github.com/mschneider82/opencloud-web-calendar
[submodule "web-app-submodules/web-app-presentation-viewer"]
	path = web-app-submodules/web-app-presentation-viewer
	url = git@github.com:protronic/web-app-presentation-viewer.git
